/*
* @Author: lihui
* @Date:   2018-03-01 11:54:15
* @Last Modified by:   lihui
* @Last Modified time: 2018-03-03 22:30:36
*/
@font-face {
  font-family: 'iconfont';  /* project id 577731 */
  src: url('https://at.alicdn.com/t/font_577731_l1pe0b0pia32qpvi.eot');
  src: url('https://at.alicdn.com/t/font_577731_l1pe0b0pia32qpvi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_577731_l1pe0b0pia32qpvi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_577731_l1pe0b0pia32qpvi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_577731_l1pe0b0pia32qpvi.svg#iconfont') format('svg');
}
boby{
	font-size: 12px;
}
.top{
	width: 100%;
	height: 1.44rem;
	background: linear-gradient(to right,#FF9001,#FF5101);
	position: relative;
}
.saomiao{
	width: 1.05rem;
	height: 1rem;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: .34rem;
	/* background-color: pink; */
}
.saomiao h2{
	font-size: 0.30rem;
	line-height: .30rem;
	color: #fff;
	position: absolute;
	bottom: 0;
}
.saomiao h1{
	font-size: 0.6rem;
	line-height: .60rem;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	font-family: "iconfont";
}
.sousuo{
	width: 7.2rem;
	height: .95rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	/* background-color: pink; */
	border-bottom: .03rem solid #fff;
	color: #fff;
}
.search{
	width: 5.6rem;
	height: 0.87rem;
	border: 0;
	position: absolute;
	color: #fff;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0)
}
::-webkit-input-placeholder{
	color: #fff;
}
.sousuo h1{
	font-size: .6rem;
	line-height: .9rem;
	text-align: center;
	margin: 0 auto;
	font-family: "iconfont";
	position: absolute;
	left: 0.05rem;
	top: 0;
	bottom: 0;
	margin: auto;
}
.sousuo h2{
	font-size: .6rem;
	line-height: .9rem;
	text-align: center;
	margin: 0 auto;
	font-family: "iconfont";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0.05rem;
	margin: auto;
}
.saomiao1{
	right: .34rem;
	width: 1.05rem;
	height: 1rem;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.saomiao1 h2{
	font-size: 0.30rem;
	line-height: .30rem;
	color: #fff;
	position: absolute;
	bottom: 0;
}
.saomiao1 h1{
	font-size: 0.6rem;
	line-height: .60rem;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	font-family: "iconfont";
}
.banner{
	width: 100%;
	height: 3.33rem;
	background: url('../image/1.jpg');
	background-size:cover;
	background-position: -.5rem -1.5rem;
	position: relative;
}
.banner_box{
	display:flex;
	justify-content: center;
	width: 2.56rem;
	height: 0.23rem;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: .4rem;
}
.banner_xbox{
	border-radius: 50%;
	width: .19rem;
	height: .19rem;
	border: 0.02rem solid #DECCD2;
	background-color: #fff;
	margin: 0 0.045rem;
}
.fen{
	width: 100%;
	height: 4rem;
	background-color:#fff;
	position: relative;
	border-bottom: .2rem solid #fff;
}
.lei{
	width: 100%;
	height: 2rem;
	/* background-color: pink; */
	display:flex;
	justify-content: center;
}
.fen_box{
	width: 1.40rem;
	height: 2rem;
	margin: 0 .35rem;
	/* background-color: seagreen; */
}
.lei_box{
	width: 1.25rem;
	border-radius: 50%;
	height: 1.25rem;
	font-weight: 700;
	font-size: .6rem;
	line-height: 1.25rem;
	text-align: center;
	background: linear-gradient(#FAE305,#FF5101);
	color: #fff;
	font-family: "iconfont";
	margin: .2rem auto 0;
}
.fen_box h1{
	font-size: .3rem;
	line-height: .3rem;
	margin-top: .2rem;
	color: #727272;
	font-weight: 400;
	text-align: center;
}
.shang{
	width: 100%;
	height: 4.18rem;
	border-top: .58rem solid #F4F4F4;
	border-bottom: .01rem solid #EEEEEE;
	position: relative;
	top: .2rem;
}
.jia_top{
	border-radius: 0 .425rem .425rem 0;
	width: 2.88rem;
	height: 0.83rem;
	background-color: #FFC00B;
	position: absolute;
	top: -.4rem;
}
.jia_top h1{
	font-weight: 700;
	font-size: .44rem;
	line-height: .83rem;
	text-align: center;
	color: #fff;
}
.jia_left{
	width: 7.18rem;
	height: 3.6rem;
	background: url('../image/2.jpg');
	background-size:100% 100%;
	position: absolute;
	left: 0;
	top: -0.01rem;
}
.jia_right{
	width: 3.6rem;
	height: 3.6rem;
	background: url('../image/3.jpg') center;
	position: absolute;
	right: 0;
	top: -0.01rem;
}
.jia_left h1{
	font-size: .40rem;
	position: absolute;
	left: .3rem;
	bottom:.3rem;
	color: #fff;
	width: 5.32rem;
	line-height: .45rem;
	font-weight: 400;
}
.jia_right h1{
	font-size: .4rem;
	line-height: .54rem;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom:.3rem;
	color: #fff;
	width: 2.5rem;
	height: .54rem;
	border-radius: .27rem 0 .27rem 0;
	background-color: rgba(227, 159, 29, .9);
	font-weight: 400;
	text-align: center;
}




.end{
	width: 100%;
	height: 1.44rem;
	display:flex;
	justify-content: center;
	border-top: .01rem solid #F5F5F5;
	background-color: #fff;
	position:fixed;
	background-color: #fff;
	bottom: 0;
	/* top: 0; */
}
.end_box{
	width: 1.4rem;
	height: 1.45rem;
	/* background-color: seagreen; */
	margin: 0 auto;
}
.end_box h1{
	font-family: "iconfont";
	font-size: .6rem;
	color: #727272;
	text-align: center;
	line-height: 1rem;
	font-weight: 200;
}
.end_box h2{
	font-size: .3rem;
	color: #727272;
	text-align: center;
	font-weight: 400;
	margin-top: -.1rem;
}
.end_box h3{
	font-family: "iconfont";
	font-size: .7rem;
	color: #727272;
	text-align: center;
	line-height: 1rem;
	font-weight: 200;
}
.end_box1 h1,.end_box1 h2{
	color: #FF6B00;
}
.di{
	height: 1.45rem;
	width: 100%;
}